@import url("_layout-pc.css");
@import url("_layout-mobile.css");
@import url("_root.css");
@import url("_code.css");

* {
  box-sizing: border-box;
}
*::before, *::after {
  font-family: "Bootstrap", sans-serif;
  transition: color 0.2s ease-in-out;
}

::selection {
  background: var(--color-primary-050-25);
}

html {
  font-size: 16px;
  -webkit-text-size-adjust: none;
  text-size-adjust: none;
  text-rendering: optimizeLegibility;
  -moz-osx-font-smoothing: grayscale;
  -webkit-font-smoothing: antialiased;
  -webkit-tap-highlight-color: transparent;
  cursor: crosshair;
}
body {
  margin: 0;
  padding: 0;
  min-height: 100vh;
  font: 1rem/1.75 "Inter", -apple-system, "MiSans", "HarmonyOS Sans", "Source Han Sans SC", "Noto Sans CJK SC", "思源黑体", "Noto Sans SC", sans-serif;
  font-feature-settings: var(--font-feature);
  color: var(--color-neutral-020);
  background: var(--color-neutral-100);
  overflow: auto scroll;
  transition: opacity 0.2s ease-in-out;
}

a {
  color: var(--color-primary-050);
  text-decoration: none;
  transition: 0.2s ease-in-out;
  transition-property: background, color;
}
a:hover {
  color: var(--color-neutral-020);
}
a[disabled] {
  color: var(--color-primary-070);
  pointer-events: none;
}
em {
  font-style: normal;
}
del {
  color: var(--color-primary-070);
}
input {
  outline: none;
  border: none;
  padding: 0.5rem 0.75rem;
  font: 1rem/1.5 "Inter", -apple-system, "MiSans", "HarmonyOS Sans", "Source Han Sans SC", "Noto Sans CJK SC", "思源黑体", "Noto Sans SC", sans-serif;
  color: var(--color-neutral-020);
  appearance: none;
}

h1, h2, h3, h4, h5, h6 {
  margin: 0;
  font-size: 1rem;
  font-weight: normal;
  line-height: 2;
}
p {
  margin: 0;
}
ul {
  margin: 1rem 0;
  padding: 0;
  list-style: none;
}
table {
  margin: 1rem 0 1.5rem;
  width: 100%;
  border-collapse: collapse;
  font-size: 0.875rem;
}
th, td {
  padding: 0.25rem 0;
  border-bottom: 1px solid var(--color-neutral-090);
}
th {
  font-weight: 500;
  text-align: left;
  border-color: var(--color-neutral-080);
}

.transparent {
  opacity: 0;
}

.header {
  user-select: none;
}
.header .site-name {
  font-weight: 500;
  text-transform: uppercase;
}

.sidebar, .nav {
  line-height: 1.5;
  user-select: none;
}

.content {
  transition: opacity 0.2s ease-in-out;
}

.content .anchor {
  color: var(--color-neutral-020);
  pointer-events: none;
}

.content p {
  margin: 1rem 0;
  text-align: justify;
}
.content h1 {
  margin: 0 0 6rem;
  padding: 1rem 0 0;
  font-size: 2rem;
}
.content h2 {
  margin: 4rem 0 2rem;
  padding: 1rem 0 0;
  font-size: 1.5rem;
  border-bottom: 1px solid var(--color-neutral-080);
}
.content h1 + h2 {
  margin-top: -1.625rem;
}
.content h3 {
  margin: 2rem 0 1rem;
  padding: 1rem 0 0;
  font-size: 1.125rem;
}
.content li::marker {
  color: var(--color-primary-060);
}
.content ul {
  padding: 0 0 0 1rem;
}
.content ul li::before {
  content: "\F285";
  display: inline-block;
  margin: 0 0 0 -1rem;
  width: 1rem;
  font-size: 0.75rem;
  font-weight: 900;
  color: var(--color-primary-060);
}
.content li label input + p,
.content li p:first-child {
  margin-top: -1.75rem;
}
.content blockquote {
  margin: 1rem 0;
  padding: 1rem;
  background: var(--color-primary-090);
  border-radius: 0.25rem;
}
.content blockquote::before {
  content: "”";
  position: absolute;
  margin: -1rem 0 0 calc(100% - 4.5rem);
  font-size: 2rem;
  color: var(--color-primary-070);
  pointer-events: none;
}
.content blockquote p:first-child {
  margin-top: 0;
}
.content blockquote p:last-child {
  margin-bottom: 0;
}
.content blockquote + blockquote,
.content blockquote + pre[data-lang] {
  margin-top: 1.5rem;
}
.content blockquote a {
  overflow-wrap: break-word;
}

.content .task-list-item::before {
  content: none;
}
.content .task-list-item input {
  display: none;
}
.content .task-list-item label {
  cursor: crosshair;
}
.content .task-list-item label.checked {
  color: var(--color-primary-070);
}
.content .task-list-item label::before {
  content: "\F584";
  margin: 0 0 0 -1rem;
  font-size: 0.75rem;
  color: var(--color-primary-060);
}
.content .task-list-item label.checked::before {
  content: "\F26C";
  color: var(--color-primary-070);
}

.video-container {
  position: relative;
  padding: 0 0 56.25%;
  height: 0;
  overflow: hidden;
  max-width: 100%;
}

.video-container iframe,
.embed-container object,
.embed-container embed {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 93%;
}

.responsive-wrap iframe {
  max-width: 100%;
}

@font-face {
  font-display: block;
  font-family: "Bootstrap";
  src: url("https://npm.elemecdn.com/bootstrap-icons/font/fonts/bootstrap-icons.woff2") format("woff2");
}
@font-face {
  font-family: "JetBrains Mono";
  font-style: normal;
  font-weight: 400;
  src: url("https://fonts.gstatic.com/s/jetbrainsmono/v23/tDbY2o-flEEny0FZhsfKu5WU4zr3E_BX0PnT8RD8yKxTOlOV.woff2") format("woff2");
  unicode-range: U+0000-00FF, U+0131, U+0152-0153, U+02BB-02BC, U+02C6, U+02DA, U+02DC, U+0304, U+0308, U+0329, U+2000-206F, U+20AC, U+2122, U+2191, U+2193, U+2212, U+2215, U+FEFF, U+FFFD;
}
